<div class="col-md-12 ">
  <div class=" col-md-4 card card-body" style="position:absolute; left:32%; top:25%;">
<form class="needs-validation" action="/admin/save-product" method="POST" 
          enctype="multipart/form-data">
  <div class="form-row">
    <div class="mb-3">
      <label for="validationTooltip01">Product Name</label>
      <input type="text" name="product" class="form-control" id="validationTooltip01" placeholder="First name" value="" >
    </div>
    <div class="mb-3">
      <label for="validationTooltip02">Prize</label>
      <input type="text" name="prize" class="form-control" id="validationTooltip02" placeholder="Last name" value="" >
    </div>
    <div class="mb-3"><label for="avatar">Choose product Image</label>
        <input type="file" class="form-control" id="avatar" name="image" >
       </div>
  </div>
  <button class="btn btn-primary float-end" type="submit">Save</button>
</form>
</div>
</div>