<div class="container">
  <div class="col-md-12 p-1">
 <a href="/admin/add-product" class="btn btn-primary float-end">Add Product</a>
  </div>
   
    <div class="col-md-12">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Poroduct Name</th>
      <th scope="col">Prize</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>

</div>
