<div class="container">
  <div class="col-md-12 p-1">
 <a href="/admin/add-product" class="btn btn-primary float-end">Add Product</a>
  </div>
   
    <div class="col-md-12 card card-body">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Poroduct Name</th>
      <th scope="col">Prize</th>
      <th scope="col">Ation</th>
    </tr>
  </thead>
  <tbody id="product-body">
  </tbody>
</table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/admin.js"></script>
