
<div class="col-md-12 row">
    {{#each product}}
    <div class="col-md-3 p-2">
        <div class="card">
            {{!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Image
                    cap</text>
            </svg> --}}

            <div class="card-body">
                <h5 class="card-title">{{this.product}}</h5>
                <p class="card-text text-success">From {{this.prize}}</p>
            </div>
        </div>
    </div>
    {{/each }}
</div>